<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>

  <nav style="text-align: center; margin-top: 10px;">
    <ul style="list-style: none; padding: 0; margin: 0; display: inline-flex; gap: 15px;">
      <li><a href="{% url 'staff_url:dashboard' %}">Dashboard</a></li>
      <li><a href="{% url 'staff_url:post_list' %}">My Job Posts</a></li>
      <li><a href="{% url 'staff_url:accepted_applicants' %}">Accepted Applicants</a></li>
      <li><a href="{% url 'staff_url:profile' %}">Profile</a></li>
      <li><a href="{% url 'staff_url:logout' %}">Log out</a></li>
    </ul>
  </nav>

  {% block content %}
  {% endblock %}

</body>
</html>
