<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About PHRMO | Provincial Government of Bulacan</title>
</head>
<body>

    {% include "nav.html" %}

    <h1 style="text-align:center;">Provincial Human Resource Management Office (PHRMO)</h1>
    <h3 style="text-align:center;">Provincial Government of Bulacan</h3>
    <hr>

    <h2>VISION</h2>
    <p>
        Sa patnubay ng Panginoon, nagkakaisa at masayang naglilingkod para sa mga kawani ng Pamahalaang Panlalawigan sa pagpapatupad
        ng mga sistemang nagbibigay ng patas na pagkakataon sa pagpili at paghirang, patuloy na nag-aangat ng kaalaman, kakayahan, at kagandahang-asal,
        at nagbubukas ng mga programang makabuluhan para sa kapakanan ng mga kawani at ng sambayanang Bulakenyo.
    </p>

    <h2>FUNCTIONS</h2>
    <ul>
        <li>Pagbuo, pagpapatupad, at pangangasiwa ng mahusay na sistema ng pamamahala ng yamang-tao.</li>
        <li>Pagpapaunlad ng mga programa para sa propesyonal at moral na paglago ng mga kawani.</li>
        <li>Pagbibigay ng mga benepisyo at gantimpala sa mga karapat-dapat na kawani.</li>
        <li>Pagpapanatili ng Human Resource Management Information System (HRMIS).</li>
        <li>Pagpapalabas ng mga alituntunin ukol sa code of conduct at disiplina ng mga kawani.</li>
    </ul>

    <h2>PLANS AND PROGRAMS</h2>
    <table border="1" width="100%" cellspacing="0" cellpadding="8">
        <tr>
            <th>Program / Activity / Project Description</th>
            <th>Implementation Schedule</th>
        </tr>
        <tr>
            <td><b>Program on Awards and Incentives for Service Excellence (PRAISE)</b> – Pagkilala at paggawad ng gantimpala sa mga kawani na nagpakita ng natatanging serbisyo at inobasyon.</td>
            <td>December</td>
        </tr>
        <tr>
            <td><b>Gawad Galing Kawani (Provincial Level)</b> – Gantimpala para sa mga kawani na may kahanga-hangang ambag sa serbisyo publiko.</td>
            <td>September</td>
        </tr>
        <tr>
            <td><b>Medical and Dental Program</b> – Libreng konsultasyon at check-up para sa mga kawani.</td>
            <td>January–December</td>
        </tr>
        <tr>
            <td><b>Educational Assistance Program</b> – Pinansyal na tulong sa mga anak ng kawani para sa pagpapatuloy ng edukasyon.</td>
            <td>January–December</td>
        </tr>
        <tr>
            <td><b>Physical Fitness Program</b> – Pagsusulong ng kalusugan sa pamamagitan ng sports at physical activities.</td>
            <td>January–April</td>
        </tr>
        <tr>
            <td><b>Pulso ng Bulakenyo</b> – Feedback survey para sa mga programa ng PGB.</td>
            <td>September</td>
        </tr>
        <tr>
            <td><b>Galing Tangggapan</b> – Pagsusuri sa kalidad ng serbisyo ng bawat tanggapan sa tulong ng feedback mula sa mamamayan.</td>
            <td>September</td>
        </tr>
    </table>
    <br>
    <h2>CONTACT INFORMATION:</h2>
    <p>
        <b>Jose Fernando G. Manahan</b><br>
        Department Head (OIC)<br><br>
        Mailing Address:<br>
        Provincial Human Resource Management Office<br>
        3rd Floor, Provincial Capitol Building<br>
        Malolos City, Bulacan, Philippines 3000<br><br>
        Tel: +63(44) 791-8144 / 8145<br><br>
        Email: phrmo@bulacan.gov.ph<br>
        jose.manahan@bulacan.gov.ph<br>

    </p>

    <hr>
    <footer style="text-align:center;">
        Provincial Government of Bulacan | Developed and Designed by the Provincial Information Technology Office. <br> © Copyright 2025. All Rights Reserved.
    </footer>

</body>
</html>
