<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Login</title>
</head>
<body>
    <h2>Staff Login</h2>

    <form method="POST">
        {% csrf_token %}
        <label>Username:</label>
        {{ form.username }} <br><br>

        <label>Password:</label>
        {{ form.password }} <br><br>

        <button type="submit">Login</button>
    </form>

    <p><a href="{% url 'staff_url:forgot_password' %}">Forgot Password?</a></p>
    <p>No account? <a href="{% url 'staff_url:register' %}">Register Here</a></p>
</body>
</html>
