<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Registration</title>

    <style>
    .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    .btn:hover {
      background-color: #0056b3;
    }
  </style>

</head>
<body>
    <h2>Staff Registration Page</h2>

        <button type="submit" class="btn">Register as Staff</button>
        <a href="{% url 'landing' %}" class="btn">Go back</a>
    
</body>
</html>