<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Registration</title>
</head>
<body>
    <h2>Staff Registration</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Username:</label>
        {{ form.username }} <br><br>

        <label>Email:</label>
        {{ form.email }} <br><br>

        <label>Password:</label>
        {{ form.password }} <br><br>

        <label>Confirm Password:</label>
        {{ form.confirm_password }} <br><br>

        <button type="submit">Register</button>
    </form>

    <p>Already have an account? <a href="{% url 'staff_url:login' %}">Login</a></p>
</body>
</html>
