<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Posted</title>
</head>
<body>
  {% extends "staff_maintemp/nav.html" %}
{% block content %}
<div class="container">
  <h2>Job list</h2>
  
  
    <a href="{% url 'staff_url:post_create' %}" class="btn btn-primary" style="margin-right: 15px;">Create New Job Post</a>
    <a href="{% url 'staff_url:archived_list' %}" class="btn btn-secondary">Archived Posts</a>

  <hr>
  {% if posts %}
    <table class="table">
      <thead><tr>
        <th>Job Number</th>
        <th>Title</th>
        <th>Position</th>
        <th>Type</th>
        <th>Experience</th>
        <th>Posted</th>
        <th>Actions</th>
      </tr></thead>
      
      <tbody>
        {% for p in posts %}
          <tr>
            <td>{{ p.job_number }}</td>
            <td>{{ p.title }}</td>
            <td>{{ p.position_title }}</td>
            <td>{{ p.get_job_type_display }}</td>
            <td>{{ p.experience }}</td>
            <td>{{ p.post_date|date:"Y-m-d" }}</td>
            <td>
              <a href="{% url 'staff_url:post_edit' p.pk %}" class="btn btn-sm btn-outline-primary">Edit</a>
              <a href="{% url 'staff_url:post_archive' p.pk %}" class="btn btn-sm btn-outline-warning">Archive</a>
              <a href="{% url 'staff_url:post_delete' p.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No job posts yet.</p>
  {% endif %}
</div>
<hr>
{% include "staff_maintemp/footer.html" %}
{% endblock %}

</body>
</html>